@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 239, 239, 0.623);
}

.buttons{
    display: flex;
    gap: 18px;
    margin-bottom: 28px;
}

.title{
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 26px;
}

i{
    text-decoration: none;
    color: black;
    padding: 12px;
    font-size: 28px;
}

button{
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 14px;
    cursor: pointer;
    width: 80px;
    font-size: 16px;
}

#flip-button:hover{
    transform: scale(1.1);
    border: 2px solid black;
}

#start-button:hover{
    transform: scale(1.1);
    border: 2px solid black;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.game-info{
    margin-bottom: 18px;
    padding: 10px 30px 10px 30px;
    border: 0.5px solid black;
    gap: 16px;
}

#gamesboard-container{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.game-board{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.block{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 0.5px solid black; 
}

.options-container{
    width: 500px;
    height: 60px;
    margin: 30px 0;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
}

.destroyer{
    background-color: grey;
}

.submarine{
    background-color: grey;
}

.cruiser{
    background-color: grey;
}

.battleship{
    background-color: grey;
}

.carrier{
    background-color: grey;
}

.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover{
    background-color: gray;
}

/* #computer .destroyer,
#computer .submarine,
#computer .battleship,
#computer .carrier,
#computer .cruiser{
    background-color: yellow;
} */

.boom{
    background-color: red !important;
}

.empty{
    background-color: lightblue !important;
}